.login-error {
    position: absolute;
    top: -65px;
    width: -webkit-fill-available;
    color: #ffffff !important;
    background-color: #de4d4d;
    font-size: 1rem !important;
    text-align: center;
    left: 0px;
}
