@model TurkishExporterInventory.Database.Models.Item

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTL" class="control-label"></label>
                <input asp-for="PriceTL" class="form-control" />
                <span asp-validation-for="PriceTL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoughtPlace" class="control-label"></label>
                <input asp-for="BoughtPlace" class="form-control" />
                <span asp-validation-for="BoughtPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyingDate" class="control-label"></label>
                <input asp-for="BuyingDate" class="form-control" />
                <span asp-validation-for="BuyingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordCreateTime" class="control-label"></label>
                <input asp-for="RecordCreateTime" class="form-control" />
                <span asp-validation-for="RecordCreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

