@model TurkishExporterInventory.Database.Models.ItemListModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Eşya Adı</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTL" class="control-label">Fiyat</label>
                <input asp-for="PriceTL" class="form-control" />
                <span asp-validation-for="PriceTL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label">Alım Amacı</label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyingDate" class="control-label">Alım Tarihi</label>
                <input asp-for="BuyingDate" class="form-control" />
                <span asp-validation-for="BuyingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rlt_Supplier_Id" class="control-label">Tedarikçi</label>
                <select asp-for="rlt_Supplier_Id" class="form-control" asp-items="ViewBag.rlt_Supplier_Id"></select>
                <span asp-validation-for="rlt_Supplier_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rlt_User_Id" class="control-label">Tahsis Edilecek Kullanıcı</label>
                <select asp-for="rlt_User_Id" class="form-control" asp-items="ViewBag.rlt_User_Id"></select>
                <span asp-validation-for="rlt_User_Id" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ItemList">Back to List</a>
</div>

