.main-row {
    width: 55%;
}

.card-padding {
    padding: 2.88rem 2.81rem;
}

.form-title {
    text-align: center;
}

.card-title {
    font-size: 1.5rem !important;
    text-align: center;
}
.default-buttons{
    width: 33%;
    font-size: .57rem !important;
}
.item-count-td {
    text-align:center;
}
.item-count-th {
    width:25px;
}

.userlist-form-th {
    text-align: center;
    font-size: 1rem !important;
}




.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.custom-select {
    font-size : 1rem;
}
