.main-row {
    width: 55%;
}

.card-padding {
    padding: 2.88rem 2.81rem;
}

.form-title {
    text-align: center;
}

.card-title {
    font-size: 1.5rem !important;
    text-align: center;
}
.default-buttons{
    width: 33%;
}
.item-count-td {
    text-align:center;
}
.item-count-th {
    width:25px;
}

.userlist-form-th {
    text-align: center;
    font-size: 1rem !important;
}

